.footer-wrapper
	.footer-darkframe
	.footer-content(data-aos="fade-down" data-aos-duration="1000" data-aos-delay="500")
		.footer-content-header
			.header-text
				h2 Контакты
				.curly-brace
					.brace
			.header-img
				include ../../img/assets/icons/point_w.svg
		.footer-content-main
			.wrap
				.address
					ul
						li Москва, ул. Родщельская, 15, стр. 22
						li т. +7 (495) 798-78-28
						li info@touche.ru
				
				.work-time
					ul
						li Пн-Пт: 11.00 - 23.00
						li Сб-Вс: 12.00 - 04.00

			.social
				ul
					li
						a(href="//www.facebook.com/" target="_blank").ic-fb
					li
						a(href="//www.instagram.com/" target="_blank").ic-in


script(src="//code.jquery.com/jquery-3.3.1.min.js")
script(src="//unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
script(src="//unpkg.com/aos@next/dist/aos.js")
script(src="/js/main.min.js")

