.footer-wrapper
	.footer-darkframe
	.footer-content(data-aos="fade-down" data-aos-duration="1000" data-aos-delay="500")
		.footer-content-header
			.header-text
				h2 Контакты
				.curly-brace
					.brace
			.header-img
				a(href="//yandex.ru/maps/-/CBBc5CwysD" target="_blank")
					include ../../img/assets/icons/point_w.svg
		.footer-content-main
			.wrap
				.address
					ul
						li 
							a(href="https://yandex.ru/maps/-/CBBc5CwysD" target="_blank") Москва, ул. Родчельская, 15, стр. 22
						li
							a(href="tel:+74957987828") т. +7 (495) 798-78-28
						li
							a(href="mailto:info@touchebar.wine") info@touchebar.wine
							
				
				.work-time
					ul
						li Пн-Чт: 07.30 - 00.00 <br> Пт: 07.30 - 02.00
						li Сб: 07.30 - 11.30 и 15.00 - 02.00 <br> Вс: Выходной

			.social
				ul
					li
						a(href="//www.facebook.com/" target="_blank").ic-fb
					li
						a(href="//www.instagram.com/" target="_blank").ic-in


//- script(src="//code.jquery.com/jquery-3.3.1.min.js")
//- script(src="//unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js")
//- script(src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
script(src="//unpkg.com/aos@next/dist/aos.js")
script(src="/js/main.min.js")

