.footer-contact-wrapper
	.footer-contact
		.footer-contact-item
			h4 Адрес
			p Москва, 
			p Маросейка 15

		.footer-contact-item
			h4 Соц. сети
			.social
				a(href="//www.facebook.com/megobari15/" target="_blank").ic-fb
				a(href="//www.instagram.com/megobari.wine/" target="_blank").ic-in

		.footer-contact-item
			h4 Контакты
			p т. +7 (905) 700-40-07
			p info@megobari.wine

.footer-nav-wrapper
	.footer-nav
		.logo
			img(src="img/assets/brand/logo-g.svg", alt="megobari logo")
		.footer-nav-links
			ul
				li
					a(href="index.html") Главная
				li
					a(href="menu.html") Меню
				li
					a(href="gallery.html") Галерея
				li
					a(href="news.html") Новости
				li
					a(href="contacts.html") Контакты


script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU")
script(src="./js/main.min.js")