include site-header/nav-mob
.mob-top
	.logo
		a(href="index.html")
			img(src="/img/assets/brand/logo.svg" alt="Megobari logo")
	#nav-open-btn.nav-open-btn
	
section#site-header
	include site-header/nav-screen
	.social
		a(href="//www.facebook.com/megobari15/" target="_blank").ic-fb
		a(href="//www.instagram.com/megobari.wine/" target="_blank").ic-in

	include site-header/hero-inside