.hero
	.hero-darkframe
	.hero-text(data-aos="fade-up" data-aos-duration="1000")
		h1 Wine bar </br> & kitchen
		.curly-brace
			.left-b.brace
			.right-b.brace

	.work-time
		ul
			li Пн-Пт: 11.00 - 23.00
			li Сб-Вс: 12.00 - 04.00

	.social
		ul
			li
				a(href="//facebook.com" target="_blank").ic-fb
			li
				a(href="//instagram.com" target="_blank").ic-in
