.hero
	.hero-text
		h1 ГРУЗИНСКИЙ ВИННЫЙ БАР
		.hero-text-contact
			p Маросейка 15
			p   	
				a(href="tel:+79057004007" ) т. +7 (905) 700-40-07
		button.btn Забронировать
		a(href="#site-main").hero-anchor