nav.nav-mob
	.close-btn
	
	.logo
		a(href="index.html")
			img( src="img/assets/brand/logo-b.svg" alt="Megobari logo")
	
	ul
		li.active
			a(href="index.html") Главная
		li
			a(href="menu.html") Меню
		li
			a(href="gallery.html") Галерея
		li
			a(href="news.html") Новости
		li
			a(href="contacts.html") Контакты

	.social
		a(href="//www.facebook.com/megobari15/" target="_blank").ic-fb
		a(href="//www.instagram.com/megobari.wine/" target="_blank").ic-in