nav.nav-mob
	.close-btn
	
	ul
		li
			a(href="#" id="menu-about-m") О ресторане
		li
			a(href="#" id="menu-menu-m") Меню
		li
			a(href="#" id="menu-gallery-m") Галерея
		li
			a(href="#" id="menu-contacts-m") Контакты