include partials/head
body
	#site-wrapper
		include partials/site-header-inside

		section#site-main
			.gallery
				.gallery-wrapper
					.gallery-wrapper-item
						.gallery-wrapper-item-img
							a(data-fancybox="gallery" href="img/gallery/2.jpg")
								img(src="/img/gallery/2.jpg", alt="Megobari")
					.gallery-wrapper-item
						.gallery-wrapper-item-img
								a(data-fancybox="gallery" href="img/gallery/4.jpg")
									img(src="/img/gallery/4.jpg", alt="Megobari")
					.gallery-wrapper-item
						.gallery-wrapper-item-img
							a(data-fancybox="gallery" href="img/gallery/1.jpg")
								img(src="/img/gallery/1.jpg", alt="Megobari")
					.gallery-wrapper-item
						.gallery-wrapper-item-img
								a(data-fancybox="gallery" href="img/gallery/2.jpg")
									img(src="/img/gallery/2.jpg", alt="Megobari")
					.gallery-wrapper-item
						.gallery-wrapper-item-img
							a(data-fancybox="gallery" href="img/gallery/3.jpg")
								img(src="/img/gallery/3.jpg", alt="Megobari")
					.gallery-wrapper-item
						.gallery-wrapper-item-img
								a(data-fancybox="gallery" href="img/gallery/4.jpg")
									img(src="/img/gallery/4.jpg", alt="Megobari")
					.gallery-wrapper-item
						.gallery-wrapper-item-img
							a(data-fancybox="gallery" href="img/gallery/1.jpg")
								img(src="/img/gallery/1.jpg", alt="Megobari")
					.gallery-wrapper-item
						.gallery-wrapper-item-img
								a(data-fancybox="gallery" href="img/gallery/2.jpg")
									img(src="/img/gallery/2.jpg", alt="Megobari")
					.gallery-wrapper-item
						.gallery-wrapper-item-img
								a(data-fancybox="gallery" href="img/gallery/3.jpg")
									img(src="/img/gallery/3.jpg", alt="Megobari")
					.gallery-wrapper-item
						.gallery-wrapper-item-img
								a(data-fancybox="gallery" href="img/gallery/3.jpg")
									img(src="/img/gallery/3.jpg", alt="Megobari")
					.gallery-wrapper-item
						.gallery-wrapper-item-img
								a(data-fancybox="gallery" href="img/gallery/3.jpg")
									img(src="/img/gallery/3.jpg", alt="Megobari")
					.gallery-wrapper-item
						.gallery-wrapper-item-img
								a(data-fancybox="gallery" href="img/gallery/3.jpg")
									img(src="/img/gallery/3.jpg", alt="Megobari")
					.gallery-wrapper-item
						.gallery-wrapper-item-img
								a(data-fancybox="gallery" href="img/gallery/3.jpg")
									img(src="/img/gallery/3.jpg", alt="Megobari")
					.gallery-wrapper-item
						.gallery-wrapper-item-img
								a(data-fancybox="gallery" href="img/gallery/3.jpg")
									img(src="/img/gallery/3.jpg", alt="Megobari")
					.gallery-wrapper-item
						.gallery-wrapper-item-img
								a(data-fancybox="gallery" href="img/gallery/3.jpg")
									img(src="/img/gallery/3.jpg", alt="Megobari")
			

		section#site-footer
			include partials/site-footer