include partials/head
body
	#site-wrapper
		include partials/site-header-inside

		section#site-main
		.news-wrapper
			include partials/news-item
			include partials/news-item
			include partials/news-item
			

		section#site-footer
			include partials/site-footer