#site-footer {
	position: relative;
	// background-image: url(../img/gallery/interior-touche-4.jpg);
	background-size: cover;
	background-position: center;
	z-index: 3;
}

.footer-wrapper {
	& .footer-darkframe {
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,.6);
		height: 100%;
		width: 100%;
	}
}

#site-footer .footer-content {
	@include container();
	color: ac(white);
	padding-left: 2rem;
	padding-right: 2rem;
}

#site-footer .footer-content .footer-content-header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	& .header-text {
		align-self: center;
	}
	& .header-img {
		width: 8rem;
		height: 8rem;
		& path {
			fill: ac(white);
		}
	}
	& .curly-brace {
		& .brace {
			position: relative;
			width: 100%;
			margin-top: 2rem;
		}
		& .brace::before {
			content: '';
			position: absolute;
			display: block;
			height: 10px;
			width: 50%;
			left: 0;
			border-top: solid 1px ac(white);
			border-top-right-radius: 15px;
		}
		& .brace::after {
			content: '';
			position: absolute;
			display: block;
			height: 10px;
			width: 50%;
			right: 0rem;
			border-top: solid 1px ac(white);
			border-top-left-radius: 15px;
		}
	}
}

#site-footer .footer-content .footer-content-main {
	margin-top: 8rem;
}

#site-footer .footer-content .footer-content-main {
	& .wrap {
		display: flex;
		flex-flow: row wrap;
	}
	& .address {
		width: 100%;
		padding-top: 4rem;
		& ul {
			margin: 0;
			padding: 0;
			list-style: none;
			& li a {
				color: ac(white);
			}
		}
	}
	& .work-time {
		width: 100%;
		padding-top: 4rem;
		& ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}
	& .social {
		margin-top: 8rem;
		& ul {
			list-style: none;
			margin: 0;
			padding: 0;
			font-size: 0;
			& li {
				display: inline-block;
				&:first-child {
					margin-right: 2rem;
				}
			}
		}
		& .ic-fb {		
			display: block;
			@include retina-sprite($ic-facebook-w-group);
			margin: 0 auto;
		}
		& .ic-in {
			display: block;
			@include retina-sprite($ic-instagram-w-group);
			margin: 0 auto;
		}
	}
}

@media (min-width: $b-medium) {
	#site-footer .footer-content .footer-content-main {
		& .wrap {
			flex-flow: row nowrap;
		}
	}
}