.menu {
	@include container();
	padding-left: 2rem;
	padding-right: 2rem;
}

.menu .menu-wrapper {
	max-width: $b-large;
	margin: 0 auto;
	.menu-header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		& .header-text {
			align-self: center;
		}
		& .header-img {
			width: 8rem;
			height: 8rem;
		}
		& .curly-brace {
			& .brace {
				position: relative;
				width: 100%;
				margin-top: 2rem;
			}
			& .brace::before {
				content: '';
				position: absolute;
				display: block;
				height: 10px;
				width: 50%;
				left: 0;
				border-top: solid 1px ac(black);
				border-top-right-radius: 15px;
			}
			& .brace::after {
				content: '';
				position: absolute;
				display: block;
				height: 10px;
				width: 50%;
				right: 0rem;
				border-top: solid 1px ac(black);
				border-top-left-radius: 15px;
			}
		}
	}
}

.menu .menu-content {
	max-width: 70rem;
	margin: 0 auto;
	margin-top: 8rem;
	& .slick-menu-item {
	}
	& h3 {
		margin: 4rem 0;
		text-align: center;
	}
	& .menu-item {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		margin-top: 1rem;
		& .name {
			padding-right: 2rem;
		}
	}
	& .menu-links {
		margin-top: 8rem;
		display: flex;
		flex-flow: row nowrap;
		& .menu-links-item {
			width: 100%;
			& a {
				position: relative;
				display: block;
				width: 100%;
				text-decoration: underline;
				& h3 {
					text-align: center;
					& span {
						font-weight: normal;
						font-size: 1.75rem;
					}
				}
				& img {
					display: block;
					margin: 0 auto;
					max-height: 20rem;
				}
			}
		}
	}
}

.menu .menu-content .menu-end {
	margin-top: 8rem;
	& .curly-brace {
		& .brace {
			position: relative;
			width: 100%;
			margin-top: 2rem;
		}
		& .brace::before {
			content: '';
			position: absolute;
			display: block;
			height: 10px;
			width: 50%;
			left: 0;
			border-top: solid 1px ac(black);
			border-top-right-radius: 15px;
		}
		& .brace::after {
			content: '';
			position: absolute;
			display: block;
			height: 10px;
			width: 50%;
			right: 0rem;
			border-top: solid 1px ac(black);
			border-top-left-radius: 15px;
		}
	}
}