.text {
	@include container();
}

.text article {
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 0 auto;
	& .article-header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		& .header-text {
			align-self: center;
		}
		& .header-img {
			width: 8rem;
			height: 8rem;
		}
		& .curly-brace {
			& .brace {
				position: relative;
				width: 100%;
				margin-top: 2rem;
			}
			& .brace::before {
				content: '';
				position: absolute;
				display: block;
				height: 10px;
				width: 50%;
				left: 0;
				border-top: solid 1px ac(black);
				border-top-right-radius: 15px;
			}
			& .brace::after {
				content: '';
				position: absolute;
				display: block;
				height: 10px;
				width: 50%;
				right: 0rem;
				border-top: solid 1px ac(black);
				border-top-left-radius: 15px;
			}
		}
	}
	& .article-content {
		margin-top: 4rem;
		& p {
			break-inside: avoid-column;
		}
		& p:first-child {
			margin: 0;
		}
	}
}

@media (min-width: $b-medium) {
	.text article {
		& .article-content {
			margin-top: 8rem;
			column-count: 2;
			column-gap: 4rem;
		}
	}
}

@media (min-width: $b-large) {
	.text {
		& .article-content {
			column-gap: 8rem;
		}
	}
}