// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ic-arrow-back-name: 'ic_arrow_back';
$ic-arrow-back-x: 50px;
$ic-arrow-back-y: 68px;
$ic-arrow-back-offset-x: -50px;
$ic-arrow-back-offset-y: -68px;
$ic-arrow-back-width: 24px;
$ic-arrow-back-height: 24px;
$ic-arrow-back-total-width: 330px;
$ic-arrow-back-total-height: 270px;
$ic-arrow-back-image: '../img/assets/sprites/sprite.png';
$ic-arrow-back: (50px, 68px, -50px, -68px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_arrow_back', );
$ic-arrow-downward-name: 'ic_arrow_downward';
$ic-arrow-downward-x: 224px;
$ic-arrow-downward-y: 88px;
$ic-arrow-downward-offset-x: -224px;
$ic-arrow-downward-offset-y: -88px;
$ic-arrow-downward-width: 24px;
$ic-arrow-downward-height: 24px;
$ic-arrow-downward-total-width: 330px;
$ic-arrow-downward-total-height: 270px;
$ic-arrow-downward-image: '../img/assets/sprites/sprite.png';
$ic-arrow-downward: (224px, 88px, -224px, -88px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_arrow_downward', );
$ic-arrow-drop-down-name: 'ic_arrow_drop_down';
$ic-arrow-drop-down-x: 88px;
$ic-arrow-drop-down-y: 158px;
$ic-arrow-drop-down-offset-x: -88px;
$ic-arrow-drop-down-offset-y: -158px;
$ic-arrow-drop-down-width: 24px;
$ic-arrow-drop-down-height: 24px;
$ic-arrow-drop-down-total-width: 330px;
$ic-arrow-drop-down-total-height: 270px;
$ic-arrow-drop-down-image: '../img/assets/sprites/sprite.png';
$ic-arrow-drop-down: (88px, 158px, -88px, -158px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_arrow_drop_down', );
$ic-arrow-drop-down-circle-name: 'ic_arrow_drop_down_circle';
$ic-arrow-drop-down-circle-x: 44px;
$ic-arrow-drop-down-circle-y: 202px;
$ic-arrow-drop-down-circle-offset-x: -44px;
$ic-arrow-drop-down-circle-offset-y: -202px;
$ic-arrow-drop-down-circle-width: 24px;
$ic-arrow-drop-down-circle-height: 24px;
$ic-arrow-drop-down-circle-total-width: 330px;
$ic-arrow-drop-down-circle-total-height: 270px;
$ic-arrow-drop-down-circle-image: '../img/assets/sprites/sprite.png';
$ic-arrow-drop-down-circle: (44px, 202px, -44px, -202px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_arrow_drop_down_circle', );
$ic-arrow-drop-up-name: 'ic_arrow_drop_up';
$ic-arrow-drop-up-x: 136px;
$ic-arrow-drop-up-y: 0px;
$ic-arrow-drop-up-offset-x: -136px;
$ic-arrow-drop-up-offset-y: 0px;
$ic-arrow-drop-up-width: 24px;
$ic-arrow-drop-up-height: 24px;
$ic-arrow-drop-up-total-width: 330px;
$ic-arrow-drop-up-total-height: 270px;
$ic-arrow-drop-up-image: '../img/assets/sprites/sprite.png';
$ic-arrow-drop-up: (136px, 0px, -136px, 0px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_arrow_drop_up', );
$ic-arrow-forward-name: 'ic_arrow_forward';
$ic-arrow-forward-x: 136px;
$ic-arrow-forward-y: 44px;
$ic-arrow-forward-offset-x: -136px;
$ic-arrow-forward-offset-y: -44px;
$ic-arrow-forward-width: 24px;
$ic-arrow-forward-height: 24px;
$ic-arrow-forward-total-width: 330px;
$ic-arrow-forward-total-height: 270px;
$ic-arrow-forward-image: '../img/assets/sprites/sprite.png';
$ic-arrow-forward: (136px, 44px, -136px, -44px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_arrow_forward', );
$ic-arrow-upward-name: 'ic_arrow_upward';
$ic-arrow-upward-x: 0px;
$ic-arrow-upward-y: 114px;
$ic-arrow-upward-offset-x: 0px;
$ic-arrow-upward-offset-y: -114px;
$ic-arrow-upward-width: 24px;
$ic-arrow-upward-height: 24px;
$ic-arrow-upward-total-width: 330px;
$ic-arrow-upward-total-height: 270px;
$ic-arrow-upward-image: '../img/assets/sprites/sprite.png';
$ic-arrow-upward: (0px, 114px, 0px, -114px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_arrow_upward', );
$ic-bars-name: 'ic_bars';
$ic-bars-x: 0px;
$ic-bars-y: 68px;
$ic-bars-offset-x: 0px;
$ic-bars-offset-y: -68px;
$ic-bars-width: 30px;
$ic-bars-height: 26px;
$ic-bars-total-width: 330px;
$ic-bars-total-height: 270px;
$ic-bars-image: '../img/assets/sprites/sprite.png';
$ic-bars: (0px, 68px, 0px, -68px, 30px, 26px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_bars', );
$ic-cancel-name: 'ic_cancel';
$ic-cancel-x: 88px;
$ic-cancel-y: 114px;
$ic-cancel-offset-x: -88px;
$ic-cancel-offset-y: -114px;
$ic-cancel-width: 24px;
$ic-cancel-height: 24px;
$ic-cancel-total-width: 330px;
$ic-cancel-total-height: 270px;
$ic-cancel-image: '../img/assets/sprites/sprite.png';
$ic-cancel: (88px, 114px, -88px, -114px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_cancel', );
$ic-check-name: 'ic_check';
$ic-check-x: 132px;
$ic-check-y: 114px;
$ic-check-offset-x: -132px;
$ic-check-offset-y: -114px;
$ic-check-width: 24px;
$ic-check-height: 24px;
$ic-check-total-width: 330px;
$ic-check-total-height: 270px;
$ic-check-image: '../img/assets/sprites/sprite.png';
$ic-check: (132px, 114px, -132px, -114px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_check', );
$ic-chevron-down-name: 'ic_chevron_down';
$ic-chevron-down-x: 128px;
$ic-chevron-down-y: 246px;
$ic-chevron-down-offset-x: -128px;
$ic-chevron-down-offset-y: -246px;
$ic-chevron-down-width: 24px;
$ic-chevron-down-height: 15px;
$ic-chevron-down-total-width: 330px;
$ic-chevron-down-total-height: 270px;
$ic-chevron-down-image: '../img/assets/sprites/sprite.png';
$ic-chevron-down: (128px, 246px, -128px, -246px, 24px, 15px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_chevron_down', );
$ic-chevron-left-name: 'ic_chevron_left';
$ic-chevron-left-x: 180px;
$ic-chevron-left-y: 44px;
$ic-chevron-left-offset-x: -180px;
$ic-chevron-left-offset-y: -44px;
$ic-chevron-left-width: 24px;
$ic-chevron-left-height: 24px;
$ic-chevron-left-total-width: 330px;
$ic-chevron-left-total-height: 270px;
$ic-chevron-left-image: '../img/assets/sprites/sprite.png';
$ic-chevron-left: (180px, 44px, -180px, -44px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_chevron_left', );
$ic-chevron-right-name: 'ic_chevron_right';
$ic-chevron-right-x: 180px;
$ic-chevron-right-y: 88px;
$ic-chevron-right-offset-x: -180px;
$ic-chevron-right-offset-y: -88px;
$ic-chevron-right-width: 24px;
$ic-chevron-right-height: 24px;
$ic-chevron-right-total-width: 330px;
$ic-chevron-right-total-height: 270px;
$ic-chevron-right-image: '../img/assets/sprites/sprite.png';
$ic-chevron-right: (180px, 88px, -180px, -88px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_chevron_right', );
$ic-close-name: 'ic_close';
$ic-close-x: 0px;
$ic-close-y: 158px;
$ic-close-offset-x: 0px;
$ic-close-offset-y: -158px;
$ic-close-width: 24px;
$ic-close-height: 24px;
$ic-close-total-width: 330px;
$ic-close-total-height: 270px;
$ic-close-image: '../img/assets/sprites/sprite.png';
$ic-close: (0px, 158px, 0px, -158px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_close', );
$ic-domain-name: 'ic_domain';
$ic-domain-x: 44px;
$ic-domain-y: 158px;
$ic-domain-offset-x: -44px;
$ic-domain-offset-y: -158px;
$ic-domain-width: 24px;
$ic-domain-height: 24px;
$ic-domain-total-width: 330px;
$ic-domain-total-height: 270px;
$ic-domain-image: '../img/assets/sprites/sprite.png';
$ic-domain: (44px, 158px, -44px, -158px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_domain', );
$ic-drinks-name: 'ic_drinks';
$ic-drinks-x: 68px;
$ic-drinks-y: 0px;
$ic-drinks-offset-x: -68px;
$ic-drinks-offset-y: 0px;
$ic-drinks-width: 48px;
$ic-drinks-height: 47px;
$ic-drinks-total-width: 330px;
$ic-drinks-total-height: 270px;
$ic-drinks-image: '../img/assets/sprites/sprite.png';
$ic-drinks: (68px, 0px, -68px, 0px, 48px, 47px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_drinks', );
$ic-error-name: 'ic_error';
$ic-error-x: 132px;
$ic-error-y: 158px;
$ic-error-offset-x: -132px;
$ic-error-offset-y: -158px;
$ic-error-width: 24px;
$ic-error-height: 24px;
$ic-error-total-width: 330px;
$ic-error-total-height: 270px;
$ic-error-image: '../img/assets/sprites/sprite.png';
$ic-error: (132px, 158px, -132px, -158px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_error', );
$ic-error-outline-name: 'ic_error_outline';
$ic-error-outline-x: 176px;
$ic-error-outline-y: 158px;
$ic-error-outline-offset-x: -176px;
$ic-error-outline-offset-y: -158px;
$ic-error-outline-width: 24px;
$ic-error-outline-height: 24px;
$ic-error-outline-total-width: 330px;
$ic-error-outline-total-height: 270px;
$ic-error-outline-image: '../img/assets/sprites/sprite.png';
$ic-error-outline: (176px, 158px, -176px, -158px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_error_outline', );
$ic-expand-less-name: 'ic_expand_less';
$ic-expand-less-x: 224px;
$ic-expand-less-y: 0px;
$ic-expand-less-offset-x: -224px;
$ic-expand-less-offset-y: 0px;
$ic-expand-less-width: 24px;
$ic-expand-less-height: 24px;
$ic-expand-less-total-width: 330px;
$ic-expand-less-total-height: 270px;
$ic-expand-less-image: '../img/assets/sprites/sprite.png';
$ic-expand-less: (224px, 0px, -224px, 0px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_expand_less', );
$ic-expand-more-name: 'ic_expand_more';
$ic-expand-more-x: 224px;
$ic-expand-more-y: 44px;
$ic-expand-more-offset-x: -224px;
$ic-expand-more-offset-y: -44px;
$ic-expand-more-width: 24px;
$ic-expand-more-height: 24px;
$ic-expand-more-total-width: 330px;
$ic-expand-more-total-height: 270px;
$ic-expand-more-image: '../img/assets/sprites/sprite.png';
$ic-expand-more: (224px, 44px, -224px, -44px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_expand_more', );
$ic-facebook-p-name: 'ic_facebook-p';
$ic-facebook-p-x: 88px;
$ic-facebook-p-y: 246px;
$ic-facebook-p-offset-x: -88px;
$ic-facebook-p-offset-y: -246px;
$ic-facebook-p-width: 20px;
$ic-facebook-p-height: 20px;
$ic-facebook-p-total-width: 330px;
$ic-facebook-p-total-height: 270px;
$ic-facebook-p-image: '../img/assets/sprites/sprite.png';
$ic-facebook-p: (88px, 246px, -88px, -246px, 20px, 20px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_facebook-p', );
$ic-facebook-name: 'ic_facebook';
$ic-facebook-x: 224px;
$ic-facebook-y: 132px;
$ic-facebook-offset-x: -224px;
$ic-facebook-offset-y: -132px;
$ic-facebook-width: 24px;
$ic-facebook-height: 24px;
$ic-facebook-total-width: 330px;
$ic-facebook-total-height: 270px;
$ic-facebook-image: '../img/assets/sprites/sprite.png';
$ic-facebook: (224px, 132px, -224px, -132px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_facebook', );
$ic-facebook-w-name: 'ic_facebook_w';
$ic-facebook-w-x: 312px;
$ic-facebook-w-y: 38px;
$ic-facebook-w-offset-x: -312px;
$ic-facebook-w-offset-y: -38px;
$ic-facebook-w-width: 18px;
$ic-facebook-w-height: 18px;
$ic-facebook-w-total-width: 330px;
$ic-facebook-w-total-height: 270px;
$ic-facebook-w-image: '../img/assets/sprites/sprite.png';
$ic-facebook-w: (312px, 38px, -312px, -38px, 18px, 18px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_facebook_w', );
$ic-food-name: 'ic_food';
$ic-food-x: 0px;
$ic-food-y: 0px;
$ic-food-offset-x: 0px;
$ic-food-offset-y: 0px;
$ic-food-width: 48px;
$ic-food-height: 48px;
$ic-food-total-width: 330px;
$ic-food-total-height: 270px;
$ic-food-image: '../img/assets/sprites/sprite.png';
$ic-food: (0px, 0px, 0px, 0px, 48px, 48px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_food', );
$ic-fullscreen-name: 'ic_fullscreen';
$ic-fullscreen-x: 88px;
$ic-fullscreen-y: 202px;
$ic-fullscreen-offset-x: -88px;
$ic-fullscreen-offset-y: -202px;
$ic-fullscreen-width: 24px;
$ic-fullscreen-height: 24px;
$ic-fullscreen-total-width: 330px;
$ic-fullscreen-total-height: 270px;
$ic-fullscreen-image: '../img/assets/sprites/sprite.png';
$ic-fullscreen: (88px, 202px, -88px, -202px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_fullscreen', );
$ic-fullscreen-exit-name: 'ic_fullscreen_exit';
$ic-fullscreen-exit-x: 132px;
$ic-fullscreen-exit-y: 202px;
$ic-fullscreen-exit-offset-x: -132px;
$ic-fullscreen-exit-offset-y: -202px;
$ic-fullscreen-exit-width: 24px;
$ic-fullscreen-exit-height: 24px;
$ic-fullscreen-exit-total-width: 330px;
$ic-fullscreen-exit-total-height: 270px;
$ic-fullscreen-exit-image: '../img/assets/sprites/sprite.png';
$ic-fullscreen-exit: (132px, 202px, -132px, -202px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_fullscreen_exit', );
$ic-instagram-p-name: 'ic_instagram-p';
$ic-instagram-p-x: 94px;
$ic-instagram-p-y: 68px;
$ic-instagram-p-offset-x: -94px;
$ic-instagram-p-offset-y: -68px;
$ic-instagram-p-width: 20px;
$ic-instagram-p-height: 21px;
$ic-instagram-p-total-width: 330px;
$ic-instagram-p-total-height: 270px;
$ic-instagram-p-image: '../img/assets/sprites/sprite.png';
$ic-instagram-p: (94px, 68px, -94px, -68px, 20px, 21px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_instagram-p', );
$ic-instagram-name: 'ic_instagram';
$ic-instagram-x: 220px;
$ic-instagram-y: 202px;
$ic-instagram-offset-x: -220px;
$ic-instagram-offset-y: -202px;
$ic-instagram-width: 24px;
$ic-instagram-height: 24px;
$ic-instagram-total-width: 330px;
$ic-instagram-total-height: 270px;
$ic-instagram-image: '../img/assets/sprites/sprite.png';
$ic-instagram: (220px, 202px, -220px, -202px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_instagram', );
$ic-instagram-w-name: 'ic_instagram_w';
$ic-instagram-w-x: 312px;
$ic-instagram-w-y: 0px;
$ic-instagram-w-offset-x: -312px;
$ic-instagram-w-offset-y: 0px;
$ic-instagram-w-width: 18px;
$ic-instagram-w-height: 18px;
$ic-instagram-w-total-width: 330px;
$ic-instagram-w-total-height: 270px;
$ic-instagram-w-image: '../img/assets/sprites/sprite.png';
$ic-instagram-w: (312px, 0px, -312px, 0px, 18px, 18px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_instagram_w', );
$ic-local-phone-name: 'ic_local_phone';
$ic-local-phone-x: 268px;
$ic-local-phone-y: 44px;
$ic-local-phone-offset-x: -268px;
$ic-local-phone-offset-y: -44px;
$ic-local-phone-width: 24px;
$ic-local-phone-height: 24px;
$ic-local-phone-total-width: 330px;
$ic-local-phone-total-height: 270px;
$ic-local-phone-image: '../img/assets/sprites/sprite.png';
$ic-local-phone: (268px, 44px, -268px, -44px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_local_phone', );
$ic-local-post-office-name: 'ic_local_post_office';
$ic-local-post-office-x: 268px;
$ic-local-post-office-y: 88px;
$ic-local-post-office-offset-x: -268px;
$ic-local-post-office-offset-y: -88px;
$ic-local-post-office-width: 24px;
$ic-local-post-office-height: 24px;
$ic-local-post-office-total-width: 330px;
$ic-local-post-office-total-height: 270px;
$ic-local-post-office-image: '../img/assets/sprites/sprite.png';
$ic-local-post-office: (268px, 88px, -268px, -88px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_local_post_office', );
$ic-local-shipping-name: 'ic_local_shipping';
$ic-local-shipping-x: 268px;
$ic-local-shipping-y: 132px;
$ic-local-shipping-offset-x: -268px;
$ic-local-shipping-offset-y: -132px;
$ic-local-shipping-width: 24px;
$ic-local-shipping-height: 24px;
$ic-local-shipping-total-width: 330px;
$ic-local-shipping-total-height: 270px;
$ic-local-shipping-image: '../img/assets/sprites/sprite.png';
$ic-local-shipping: (268px, 132px, -268px, -132px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_local_shipping', );
$ic-menu-p-name: 'ic_menu-p';
$ic-menu-p-x: 312px;
$ic-menu-p-y: 76px;
$ic-menu-p-offset-x: -312px;
$ic-menu-p-offset-y: -76px;
$ic-menu-p-width: 18px;
$ic-menu-p-height: 12px;
$ic-menu-p-total-width: 330px;
$ic-menu-p-total-height: 270px;
$ic-menu-p-image: '../img/assets/sprites/sprite.png';
$ic-menu-p: (312px, 76px, -312px, -76px, 18px, 12px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_menu-p', );
$ic-menu-name: 'ic_menu';
$ic-menu-x: 0px;
$ic-menu-y: 246px;
$ic-menu-offset-x: 0px;
$ic-menu-offset-y: -246px;
$ic-menu-width: 24px;
$ic-menu-height: 24px;
$ic-menu-total-width: 330px;
$ic-menu-total-height: 270px;
$ic-menu-image: '../img/assets/sprites/sprite.png';
$ic-menu: (0px, 246px, 0px, -246px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_menu', );
$ic-more-horiz-name: 'ic_more_horiz';
$ic-more-horiz-x: 44px;
$ic-more-horiz-y: 246px;
$ic-more-horiz-offset-x: -44px;
$ic-more-horiz-offset-y: -246px;
$ic-more-horiz-width: 24px;
$ic-more-horiz-height: 24px;
$ic-more-horiz-total-width: 330px;
$ic-more-horiz-total-height: 270px;
$ic-more-horiz-image: '../img/assets/sprites/sprite.png';
$ic-more-horiz: (44px, 246px, -44px, -246px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_more_horiz', );
$ic-more-vert-name: 'ic_more_vert';
$ic-more-vert-x: 268px;
$ic-more-vert-y: 176px;
$ic-more-vert-offset-x: -268px;
$ic-more-vert-offset-y: -176px;
$ic-more-vert-width: 24px;
$ic-more-vert-height: 24px;
$ic-more-vert-total-width: 330px;
$ic-more-vert-total-height: 270px;
$ic-more-vert-image: '../img/assets/sprites/sprite.png';
$ic-more-vert: (268px, 176px, -268px, -176px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_more_vert', );
$ic-pin-drop-name: 'ic_pin_drop';
$ic-pin-drop-x: 268px;
$ic-pin-drop-y: 0px;
$ic-pin-drop-offset-x: -268px;
$ic-pin-drop-offset-y: 0px;
$ic-pin-drop-width: 24px;
$ic-pin-drop-height: 24px;
$ic-pin-drop-total-width: 330px;
$ic-pin-drop-total-height: 270px;
$ic-pin-drop-image: '../img/assets/sprites/sprite.png';
$ic-pin-drop: (268px, 0px, -268px, 0px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_pin_drop', );
$ic-place-name: 'ic_place';
$ic-place-x: 176px;
$ic-place-y: 202px;
$ic-place-offset-x: -176px;
$ic-place-offset-y: -202px;
$ic-place-width: 24px;
$ic-place-height: 24px;
$ic-place-total-width: 330px;
$ic-place-total-height: 270px;
$ic-place-image: '../img/assets/sprites/sprite.png';
$ic-place: (176px, 202px, -176px, -202px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_place', );
$ic-refresh-name: 'ic_refresh';
$ic-refresh-x: 0px;
$ic-refresh-y: 202px;
$ic-refresh-offset-x: 0px;
$ic-refresh-offset-y: -202px;
$ic-refresh-width: 24px;
$ic-refresh-height: 24px;
$ic-refresh-total-width: 330px;
$ic-refresh-total-height: 270px;
$ic-refresh-image: '../img/assets/sprites/sprite.png';
$ic-refresh: (0px, 202px, 0px, -202px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_refresh', );
$ic-warning-name: 'ic_warning';
$ic-warning-x: 180px;
$ic-warning-y: 0px;
$ic-warning-offset-x: -180px;
$ic-warning-offset-y: 0px;
$ic-warning-width: 24px;
$ic-warning-height: 24px;
$ic-warning-total-width: 330px;
$ic-warning-total-height: 270px;
$ic-warning-image: '../img/assets/sprites/sprite.png';
$ic-warning: (180px, 0px, -180px, 0px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_warning', );
$ic-zoom-out-map-name: 'ic_zoom_out_map';
$ic-zoom-out-map-x: 44px;
$ic-zoom-out-map-y: 114px;
$ic-zoom-out-map-offset-x: -44px;
$ic-zoom-out-map-offset-y: -114px;
$ic-zoom-out-map-width: 24px;
$ic-zoom-out-map-height: 24px;
$ic-zoom-out-map-total-width: 330px;
$ic-zoom-out-map-total-height: 270px;
$ic-zoom-out-map-image: '../img/assets/sprites/sprite.png';
$ic-zoom-out-map: (44px, 114px, -44px, -114px, 24px, 24px, 330px, 270px, '../img/assets/sprites/sprite.png', 'ic_zoom_out_map', );
$ic-arrow-back-2x-name: 'ic_arrow_back@2x';
$ic-arrow-back-2x-x: 100px;
$ic-arrow-back-2x-y: 136px;
$ic-arrow-back-2x-offset-x: -100px;
$ic-arrow-back-2x-offset-y: -136px;
$ic-arrow-back-2x-width: 48px;
$ic-arrow-back-2x-height: 48px;
$ic-arrow-back-2x-total-width: 660px;
$ic-arrow-back-2x-total-height: 540px;
$ic-arrow-back-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-arrow-back-2x: (100px, 136px, -100px, -136px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_arrow_back@2x', );
$ic-arrow-downward-2x-name: 'ic_arrow_downward@2x';
$ic-arrow-downward-2x-x: 448px;
$ic-arrow-downward-2x-y: 176px;
$ic-arrow-downward-2x-offset-x: -448px;
$ic-arrow-downward-2x-offset-y: -176px;
$ic-arrow-downward-2x-width: 48px;
$ic-arrow-downward-2x-height: 48px;
$ic-arrow-downward-2x-total-width: 660px;
$ic-arrow-downward-2x-total-height: 540px;
$ic-arrow-downward-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-arrow-downward-2x: (448px, 176px, -448px, -176px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_arrow_downward@2x', );
$ic-arrow-drop-down-2x-name: 'ic_arrow_drop_down@2x';
$ic-arrow-drop-down-2x-x: 176px;
$ic-arrow-drop-down-2x-y: 316px;
$ic-arrow-drop-down-2x-offset-x: -176px;
$ic-arrow-drop-down-2x-offset-y: -316px;
$ic-arrow-drop-down-2x-width: 48px;
$ic-arrow-drop-down-2x-height: 48px;
$ic-arrow-drop-down-2x-total-width: 660px;
$ic-arrow-drop-down-2x-total-height: 540px;
$ic-arrow-drop-down-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-arrow-drop-down-2x: (176px, 316px, -176px, -316px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_arrow_drop_down@2x', );
$ic-arrow-drop-down-circle-2x-name: 'ic_arrow_drop_down_circle@2x';
$ic-arrow-drop-down-circle-2x-x: 88px;
$ic-arrow-drop-down-circle-2x-y: 404px;
$ic-arrow-drop-down-circle-2x-offset-x: -88px;
$ic-arrow-drop-down-circle-2x-offset-y: -404px;
$ic-arrow-drop-down-circle-2x-width: 48px;
$ic-arrow-drop-down-circle-2x-height: 48px;
$ic-arrow-drop-down-circle-2x-total-width: 660px;
$ic-arrow-drop-down-circle-2x-total-height: 540px;
$ic-arrow-drop-down-circle-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-arrow-drop-down-circle-2x: (88px, 404px, -88px, -404px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_arrow_drop_down_circle@2x', );
$ic-arrow-drop-up-2x-name: 'ic_arrow_drop_up@2x';
$ic-arrow-drop-up-2x-x: 272px;
$ic-arrow-drop-up-2x-y: 0px;
$ic-arrow-drop-up-2x-offset-x: -272px;
$ic-arrow-drop-up-2x-offset-y: 0px;
$ic-arrow-drop-up-2x-width: 48px;
$ic-arrow-drop-up-2x-height: 48px;
$ic-arrow-drop-up-2x-total-width: 660px;
$ic-arrow-drop-up-2x-total-height: 540px;
$ic-arrow-drop-up-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-arrow-drop-up-2x: (272px, 0px, -272px, 0px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_arrow_drop_up@2x', );
$ic-arrow-forward-2x-name: 'ic_arrow_forward@2x';
$ic-arrow-forward-2x-x: 272px;
$ic-arrow-forward-2x-y: 88px;
$ic-arrow-forward-2x-offset-x: -272px;
$ic-arrow-forward-2x-offset-y: -88px;
$ic-arrow-forward-2x-width: 48px;
$ic-arrow-forward-2x-height: 48px;
$ic-arrow-forward-2x-total-width: 660px;
$ic-arrow-forward-2x-total-height: 540px;
$ic-arrow-forward-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-arrow-forward-2x: (272px, 88px, -272px, -88px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_arrow_forward@2x', );
$ic-arrow-upward-2x-name: 'ic_arrow_upward@2x';
$ic-arrow-upward-2x-x: 0px;
$ic-arrow-upward-2x-y: 228px;
$ic-arrow-upward-2x-offset-x: 0px;
$ic-arrow-upward-2x-offset-y: -228px;
$ic-arrow-upward-2x-width: 48px;
$ic-arrow-upward-2x-height: 48px;
$ic-arrow-upward-2x-total-width: 660px;
$ic-arrow-upward-2x-total-height: 540px;
$ic-arrow-upward-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-arrow-upward-2x: (0px, 228px, 0px, -228px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_arrow_upward@2x', );
$ic-bars-2x-name: 'ic_bars@2x';
$ic-bars-2x-x: 0px;
$ic-bars-2x-y: 136px;
$ic-bars-2x-offset-x: 0px;
$ic-bars-2x-offset-y: -136px;
$ic-bars-2x-width: 60px;
$ic-bars-2x-height: 52px;
$ic-bars-2x-total-width: 660px;
$ic-bars-2x-total-height: 540px;
$ic-bars-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-bars-2x: (0px, 136px, 0px, -136px, 60px, 52px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_bars@2x', );
$ic-cancel-2x-name: 'ic_cancel@2x';
$ic-cancel-2x-x: 176px;
$ic-cancel-2x-y: 228px;
$ic-cancel-2x-offset-x: -176px;
$ic-cancel-2x-offset-y: -228px;
$ic-cancel-2x-width: 48px;
$ic-cancel-2x-height: 48px;
$ic-cancel-2x-total-width: 660px;
$ic-cancel-2x-total-height: 540px;
$ic-cancel-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-cancel-2x: (176px, 228px, -176px, -228px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_cancel@2x', );
$ic-check-2x-name: 'ic_check@2x';
$ic-check-2x-x: 264px;
$ic-check-2x-y: 228px;
$ic-check-2x-offset-x: -264px;
$ic-check-2x-offset-y: -228px;
$ic-check-2x-width: 48px;
$ic-check-2x-height: 48px;
$ic-check-2x-total-width: 660px;
$ic-check-2x-total-height: 540px;
$ic-check-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-check-2x: (264px, 228px, -264px, -228px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_check@2x', );
$ic-chevron-down-2x-name: 'ic_chevron_down@2x';
$ic-chevron-down-2x-x: 256px;
$ic-chevron-down-2x-y: 492px;
$ic-chevron-down-2x-offset-x: -256px;
$ic-chevron-down-2x-offset-y: -492px;
$ic-chevron-down-2x-width: 48px;
$ic-chevron-down-2x-height: 30px;
$ic-chevron-down-2x-total-width: 660px;
$ic-chevron-down-2x-total-height: 540px;
$ic-chevron-down-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-chevron-down-2x: (256px, 492px, -256px, -492px, 48px, 30px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_chevron_down@2x', );
$ic-chevron-left-2x-name: 'ic_chevron_left@2x';
$ic-chevron-left-2x-x: 360px;
$ic-chevron-left-2x-y: 88px;
$ic-chevron-left-2x-offset-x: -360px;
$ic-chevron-left-2x-offset-y: -88px;
$ic-chevron-left-2x-width: 48px;
$ic-chevron-left-2x-height: 48px;
$ic-chevron-left-2x-total-width: 660px;
$ic-chevron-left-2x-total-height: 540px;
$ic-chevron-left-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-chevron-left-2x: (360px, 88px, -360px, -88px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_chevron_left@2x', );
$ic-chevron-right-2x-name: 'ic_chevron_right@2x';
$ic-chevron-right-2x-x: 360px;
$ic-chevron-right-2x-y: 176px;
$ic-chevron-right-2x-offset-x: -360px;
$ic-chevron-right-2x-offset-y: -176px;
$ic-chevron-right-2x-width: 48px;
$ic-chevron-right-2x-height: 48px;
$ic-chevron-right-2x-total-width: 660px;
$ic-chevron-right-2x-total-height: 540px;
$ic-chevron-right-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-chevron-right-2x: (360px, 176px, -360px, -176px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_chevron_right@2x', );
$ic-close-2x-name: 'ic_close@2x';
$ic-close-2x-x: 0px;
$ic-close-2x-y: 316px;
$ic-close-2x-offset-x: 0px;
$ic-close-2x-offset-y: -316px;
$ic-close-2x-width: 48px;
$ic-close-2x-height: 48px;
$ic-close-2x-total-width: 660px;
$ic-close-2x-total-height: 540px;
$ic-close-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-close-2x: (0px, 316px, 0px, -316px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_close@2x', );
$ic-domain-2x-name: 'ic_domain@2x';
$ic-domain-2x-x: 88px;
$ic-domain-2x-y: 316px;
$ic-domain-2x-offset-x: -88px;
$ic-domain-2x-offset-y: -316px;
$ic-domain-2x-width: 48px;
$ic-domain-2x-height: 48px;
$ic-domain-2x-total-width: 660px;
$ic-domain-2x-total-height: 540px;
$ic-domain-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-domain-2x: (88px, 316px, -88px, -316px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_domain@2x', );
$ic-drinks-2x-name: 'ic_drinks@2x';
$ic-drinks-2x-x: 136px;
$ic-drinks-2x-y: 0px;
$ic-drinks-2x-offset-x: -136px;
$ic-drinks-2x-offset-y: 0px;
$ic-drinks-2x-width: 96px;
$ic-drinks-2x-height: 94px;
$ic-drinks-2x-total-width: 660px;
$ic-drinks-2x-total-height: 540px;
$ic-drinks-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-drinks-2x: (136px, 0px, -136px, 0px, 96px, 94px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_drinks@2x', );
$ic-error-2x-name: 'ic_error@2x';
$ic-error-2x-x: 264px;
$ic-error-2x-y: 316px;
$ic-error-2x-offset-x: -264px;
$ic-error-2x-offset-y: -316px;
$ic-error-2x-width: 48px;
$ic-error-2x-height: 48px;
$ic-error-2x-total-width: 660px;
$ic-error-2x-total-height: 540px;
$ic-error-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-error-2x: (264px, 316px, -264px, -316px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_error@2x', );
$ic-error-outline-2x-name: 'ic_error_outline@2x';
$ic-error-outline-2x-x: 352px;
$ic-error-outline-2x-y: 316px;
$ic-error-outline-2x-offset-x: -352px;
$ic-error-outline-2x-offset-y: -316px;
$ic-error-outline-2x-width: 48px;
$ic-error-outline-2x-height: 48px;
$ic-error-outline-2x-total-width: 660px;
$ic-error-outline-2x-total-height: 540px;
$ic-error-outline-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-error-outline-2x: (352px, 316px, -352px, -316px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_error_outline@2x', );
$ic-expand-less-2x-name: 'ic_expand_less@2x';
$ic-expand-less-2x-x: 448px;
$ic-expand-less-2x-y: 0px;
$ic-expand-less-2x-offset-x: -448px;
$ic-expand-less-2x-offset-y: 0px;
$ic-expand-less-2x-width: 48px;
$ic-expand-less-2x-height: 48px;
$ic-expand-less-2x-total-width: 660px;
$ic-expand-less-2x-total-height: 540px;
$ic-expand-less-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-expand-less-2x: (448px, 0px, -448px, 0px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_expand_less@2x', );
$ic-expand-more-2x-name: 'ic_expand_more@2x';
$ic-expand-more-2x-x: 448px;
$ic-expand-more-2x-y: 88px;
$ic-expand-more-2x-offset-x: -448px;
$ic-expand-more-2x-offset-y: -88px;
$ic-expand-more-2x-width: 48px;
$ic-expand-more-2x-height: 48px;
$ic-expand-more-2x-total-width: 660px;
$ic-expand-more-2x-total-height: 540px;
$ic-expand-more-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-expand-more-2x: (448px, 88px, -448px, -88px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_expand_more@2x', );
$ic-facebook-p-2x-name: 'ic_facebook-p@2x';
$ic-facebook-p-2x-x: 176px;
$ic-facebook-p-2x-y: 492px;
$ic-facebook-p-2x-offset-x: -176px;
$ic-facebook-p-2x-offset-y: -492px;
$ic-facebook-p-2x-width: 40px;
$ic-facebook-p-2x-height: 40px;
$ic-facebook-p-2x-total-width: 660px;
$ic-facebook-p-2x-total-height: 540px;
$ic-facebook-p-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-facebook-p-2x: (176px, 492px, -176px, -492px, 40px, 40px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_facebook-p@2x', );
$ic-facebook-2x-name: 'ic_facebook@2x';
$ic-facebook-2x-x: 448px;
$ic-facebook-2x-y: 264px;
$ic-facebook-2x-offset-x: -448px;
$ic-facebook-2x-offset-y: -264px;
$ic-facebook-2x-width: 48px;
$ic-facebook-2x-height: 48px;
$ic-facebook-2x-total-width: 660px;
$ic-facebook-2x-total-height: 540px;
$ic-facebook-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-facebook-2x: (448px, 264px, -448px, -264px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_facebook@2x', );
$ic-facebook-2-2x-name: 'ic_facebook_2@2x';
$ic-facebook-2-2x-x: 624px;
$ic-facebook-2-2x-y: 76px;
$ic-facebook-2-2x-offset-x: -624px;
$ic-facebook-2-2x-offset-y: -76px;
$ic-facebook-2-2x-width: 36px;
$ic-facebook-2-2x-height: 36px;
$ic-facebook-2-2x-total-width: 660px;
$ic-facebook-2-2x-total-height: 540px;
$ic-facebook-2-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-facebook-2-2x: (624px, 76px, -624px, -76px, 36px, 36px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_facebook_2@2x', );
$ic-food-2x-name: 'ic_food@2x';
$ic-food-2x-x: 0px;
$ic-food-2x-y: 0px;
$ic-food-2x-offset-x: 0px;
$ic-food-2x-offset-y: 0px;
$ic-food-2x-width: 96px;
$ic-food-2x-height: 96px;
$ic-food-2x-total-width: 660px;
$ic-food-2x-total-height: 540px;
$ic-food-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-food-2x: (0px, 0px, 0px, 0px, 96px, 96px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_food@2x', );
$ic-fullscreen-2x-name: 'ic_fullscreen@2x';
$ic-fullscreen-2x-x: 176px;
$ic-fullscreen-2x-y: 404px;
$ic-fullscreen-2x-offset-x: -176px;
$ic-fullscreen-2x-offset-y: -404px;
$ic-fullscreen-2x-width: 48px;
$ic-fullscreen-2x-height: 48px;
$ic-fullscreen-2x-total-width: 660px;
$ic-fullscreen-2x-total-height: 540px;
$ic-fullscreen-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-fullscreen-2x: (176px, 404px, -176px, -404px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_fullscreen@2x', );
$ic-fullscreen-exit-2x-name: 'ic_fullscreen_exit@2x';
$ic-fullscreen-exit-2x-x: 264px;
$ic-fullscreen-exit-2x-y: 404px;
$ic-fullscreen-exit-2x-offset-x: -264px;
$ic-fullscreen-exit-2x-offset-y: -404px;
$ic-fullscreen-exit-2x-width: 48px;
$ic-fullscreen-exit-2x-height: 48px;
$ic-fullscreen-exit-2x-total-width: 660px;
$ic-fullscreen-exit-2x-total-height: 540px;
$ic-fullscreen-exit-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-fullscreen-exit-2x: (264px, 404px, -264px, -404px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_fullscreen_exit@2x', );
$ic-instagram-p-2x-name: 'ic_instagram-p@2x';
$ic-instagram-p-2x-x: 188px;
$ic-instagram-p-2x-y: 136px;
$ic-instagram-p-2x-offset-x: -188px;
$ic-instagram-p-2x-offset-y: -136px;
$ic-instagram-p-2x-width: 40px;
$ic-instagram-p-2x-height: 42px;
$ic-instagram-p-2x-total-width: 660px;
$ic-instagram-p-2x-total-height: 540px;
$ic-instagram-p-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-instagram-p-2x: (188px, 136px, -188px, -136px, 40px, 42px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_instagram-p@2x', );
$ic-instagram-2x-name: 'ic_instagram@2x';
$ic-instagram-2x-x: 440px;
$ic-instagram-2x-y: 404px;
$ic-instagram-2x-offset-x: -440px;
$ic-instagram-2x-offset-y: -404px;
$ic-instagram-2x-width: 48px;
$ic-instagram-2x-height: 48px;
$ic-instagram-2x-total-width: 660px;
$ic-instagram-2x-total-height: 540px;
$ic-instagram-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-instagram-2x: (440px, 404px, -440px, -404px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_instagram@2x', );
$ic-instagram-w-2x-name: 'ic_instagram_w@2x';
$ic-instagram-w-2x-x: 624px;
$ic-instagram-w-2x-y: 0px;
$ic-instagram-w-2x-offset-x: -624px;
$ic-instagram-w-2x-offset-y: 0px;
$ic-instagram-w-2x-width: 36px;
$ic-instagram-w-2x-height: 36px;
$ic-instagram-w-2x-total-width: 660px;
$ic-instagram-w-2x-total-height: 540px;
$ic-instagram-w-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-instagram-w-2x: (624px, 0px, -624px, 0px, 36px, 36px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_instagram_w@2x', );
$ic-local-phone-2x-name: 'ic_local_phone@2x';
$ic-local-phone-2x-x: 536px;
$ic-local-phone-2x-y: 88px;
$ic-local-phone-2x-offset-x: -536px;
$ic-local-phone-2x-offset-y: -88px;
$ic-local-phone-2x-width: 48px;
$ic-local-phone-2x-height: 48px;
$ic-local-phone-2x-total-width: 660px;
$ic-local-phone-2x-total-height: 540px;
$ic-local-phone-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-local-phone-2x: (536px, 88px, -536px, -88px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_local_phone@2x', );
$ic-local-post-office-2x-name: 'ic_local_post_office@2x';
$ic-local-post-office-2x-x: 536px;
$ic-local-post-office-2x-y: 176px;
$ic-local-post-office-2x-offset-x: -536px;
$ic-local-post-office-2x-offset-y: -176px;
$ic-local-post-office-2x-width: 48px;
$ic-local-post-office-2x-height: 48px;
$ic-local-post-office-2x-total-width: 660px;
$ic-local-post-office-2x-total-height: 540px;
$ic-local-post-office-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-local-post-office-2x: (536px, 176px, -536px, -176px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_local_post_office@2x', );
$ic-local-shipping-2x-name: 'ic_local_shipping@2x';
$ic-local-shipping-2x-x: 536px;
$ic-local-shipping-2x-y: 264px;
$ic-local-shipping-2x-offset-x: -536px;
$ic-local-shipping-2x-offset-y: -264px;
$ic-local-shipping-2x-width: 48px;
$ic-local-shipping-2x-height: 48px;
$ic-local-shipping-2x-total-width: 660px;
$ic-local-shipping-2x-total-height: 540px;
$ic-local-shipping-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-local-shipping-2x: (536px, 264px, -536px, -264px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_local_shipping@2x', );
$ic-menu-p-2x-name: 'ic_menu-p@2x';
$ic-menu-p-2x-x: 624px;
$ic-menu-p-2x-y: 152px;
$ic-menu-p-2x-offset-x: -624px;
$ic-menu-p-2x-offset-y: -152px;
$ic-menu-p-2x-width: 36px;
$ic-menu-p-2x-height: 24px;
$ic-menu-p-2x-total-width: 660px;
$ic-menu-p-2x-total-height: 540px;
$ic-menu-p-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-menu-p-2x: (624px, 152px, -624px, -152px, 36px, 24px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_menu-p@2x', );
$ic-menu-2x-name: 'ic_menu@2x';
$ic-menu-2x-x: 0px;
$ic-menu-2x-y: 492px;
$ic-menu-2x-offset-x: 0px;
$ic-menu-2x-offset-y: -492px;
$ic-menu-2x-width: 48px;
$ic-menu-2x-height: 48px;
$ic-menu-2x-total-width: 660px;
$ic-menu-2x-total-height: 540px;
$ic-menu-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-menu-2x: (0px, 492px, 0px, -492px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_menu@2x', );
$ic-more-horiz-2x-name: 'ic_more_horiz@2x';
$ic-more-horiz-2x-x: 88px;
$ic-more-horiz-2x-y: 492px;
$ic-more-horiz-2x-offset-x: -88px;
$ic-more-horiz-2x-offset-y: -492px;
$ic-more-horiz-2x-width: 48px;
$ic-more-horiz-2x-height: 48px;
$ic-more-horiz-2x-total-width: 660px;
$ic-more-horiz-2x-total-height: 540px;
$ic-more-horiz-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-more-horiz-2x: (88px, 492px, -88px, -492px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_more_horiz@2x', );
$ic-more-vert-2x-name: 'ic_more_vert@2x';
$ic-more-vert-2x-x: 536px;
$ic-more-vert-2x-y: 352px;
$ic-more-vert-2x-offset-x: -536px;
$ic-more-vert-2x-offset-y: -352px;
$ic-more-vert-2x-width: 48px;
$ic-more-vert-2x-height: 48px;
$ic-more-vert-2x-total-width: 660px;
$ic-more-vert-2x-total-height: 540px;
$ic-more-vert-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-more-vert-2x: (536px, 352px, -536px, -352px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_more_vert@2x', );
$ic-pin-drop-2x-name: 'ic_pin_drop@2x';
$ic-pin-drop-2x-x: 536px;
$ic-pin-drop-2x-y: 0px;
$ic-pin-drop-2x-offset-x: -536px;
$ic-pin-drop-2x-offset-y: 0px;
$ic-pin-drop-2x-width: 48px;
$ic-pin-drop-2x-height: 48px;
$ic-pin-drop-2x-total-width: 660px;
$ic-pin-drop-2x-total-height: 540px;
$ic-pin-drop-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-pin-drop-2x: (536px, 0px, -536px, 0px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_pin_drop@2x', );
$ic-place-2x-name: 'ic_place@2x';
$ic-place-2x-x: 352px;
$ic-place-2x-y: 404px;
$ic-place-2x-offset-x: -352px;
$ic-place-2x-offset-y: -404px;
$ic-place-2x-width: 48px;
$ic-place-2x-height: 48px;
$ic-place-2x-total-width: 660px;
$ic-place-2x-total-height: 540px;
$ic-place-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-place-2x: (352px, 404px, -352px, -404px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_place@2x', );
$ic-refresh-2x-name: 'ic_refresh@2x';
$ic-refresh-2x-x: 0px;
$ic-refresh-2x-y: 404px;
$ic-refresh-2x-offset-x: 0px;
$ic-refresh-2x-offset-y: -404px;
$ic-refresh-2x-width: 48px;
$ic-refresh-2x-height: 48px;
$ic-refresh-2x-total-width: 660px;
$ic-refresh-2x-total-height: 540px;
$ic-refresh-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-refresh-2x: (0px, 404px, 0px, -404px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_refresh@2x', );
$ic-warning-2x-name: 'ic_warning@2x';
$ic-warning-2x-x: 360px;
$ic-warning-2x-y: 0px;
$ic-warning-2x-offset-x: -360px;
$ic-warning-2x-offset-y: 0px;
$ic-warning-2x-width: 48px;
$ic-warning-2x-height: 48px;
$ic-warning-2x-total-width: 660px;
$ic-warning-2x-total-height: 540px;
$ic-warning-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-warning-2x: (360px, 0px, -360px, 0px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_warning@2x', );
$ic-zoom-out-map-2x-name: 'ic_zoom_out_map@2x';
$ic-zoom-out-map-2x-x: 88px;
$ic-zoom-out-map-2x-y: 228px;
$ic-zoom-out-map-2x-offset-x: -88px;
$ic-zoom-out-map-2x-offset-y: -228px;
$ic-zoom-out-map-2x-width: 48px;
$ic-zoom-out-map-2x-height: 48px;
$ic-zoom-out-map-2x-total-width: 660px;
$ic-zoom-out-map-2x-total-height: 540px;
$ic-zoom-out-map-2x-image: '../img/assets/sprites/sprite@2x.png';
$ic-zoom-out-map-2x: (88px, 228px, -88px, -228px, 48px, 48px, 660px, 540px, '../img/assets/sprites/sprite@2x.png', 'ic_zoom_out_map@2x', );
$spritesheet-width: 330px;
$spritesheet-height: 270px;
$spritesheet-image: '../img/assets/sprites/sprite.png';
$spritesheet-sprites: ($ic-arrow-back, $ic-arrow-downward, $ic-arrow-drop-down, $ic-arrow-drop-down-circle, $ic-arrow-drop-up, $ic-arrow-forward, $ic-arrow-upward, $ic-bars, $ic-cancel, $ic-check, $ic-chevron-down, $ic-chevron-left, $ic-chevron-right, $ic-close, $ic-domain, $ic-drinks, $ic-error, $ic-error-outline, $ic-expand-less, $ic-expand-more, $ic-facebook-p, $ic-facebook, $ic-facebook-w, $ic-food, $ic-fullscreen, $ic-fullscreen-exit, $ic-instagram-p, $ic-instagram, $ic-instagram-w, $ic-local-phone, $ic-local-post-office, $ic-local-shipping, $ic-menu-p, $ic-menu, $ic-more-horiz, $ic-more-vert, $ic-pin-drop, $ic-place, $ic-refresh, $ic-warning, $ic-zoom-out-map, );
$spritesheet: (330px, 270px, '../img/assets/sprites/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 660px;
$retina-spritesheet-height: 540px;
$retina-spritesheet-image: '../img/assets/sprites/sprite@2x.png';
$retina-spritesheet-sprites: ($ic-arrow-back-2x, $ic-arrow-downward-2x, $ic-arrow-drop-down-2x, $ic-arrow-drop-down-circle-2x, $ic-arrow-drop-up-2x, $ic-arrow-forward-2x, $ic-arrow-upward-2x, $ic-bars-2x, $ic-cancel-2x, $ic-check-2x, $ic-chevron-down-2x, $ic-chevron-left-2x, $ic-chevron-right-2x, $ic-close-2x, $ic-domain-2x, $ic-drinks-2x, $ic-error-2x, $ic-error-outline-2x, $ic-expand-less-2x, $ic-expand-more-2x, $ic-facebook-p-2x, $ic-facebook-2x, $ic-facebook-2-2x, $ic-food-2x, $ic-fullscreen-2x, $ic-fullscreen-exit-2x, $ic-instagram-p-2x, $ic-instagram-2x, $ic-instagram-w-2x, $ic-local-phone-2x, $ic-local-post-office-2x, $ic-local-shipping-2x, $ic-menu-p-2x, $ic-menu-2x, $ic-more-horiz-2x, $ic-more-vert-2x, $ic-pin-drop-2x, $ic-place-2x, $ic-refresh-2x, $ic-warning-2x, $ic-zoom-out-map-2x, );
$retina-spritesheet: (660px, 540px, '../img/assets/sprites/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$ic-arrow-back-group-name: 'ic_arrow_back';
$ic-arrow-back-group: ('ic_arrow_back', $ic-arrow-back, $ic-arrow-back-2x, );
$ic-arrow-downward-group-name: 'ic_arrow_downward';
$ic-arrow-downward-group: ('ic_arrow_downward', $ic-arrow-downward, $ic-arrow-downward-2x, );
$ic-arrow-drop-down-group-name: 'ic_arrow_drop_down';
$ic-arrow-drop-down-group: ('ic_arrow_drop_down', $ic-arrow-drop-down, $ic-arrow-drop-down-2x, );
$ic-arrow-drop-down-circle-group-name: 'ic_arrow_drop_down_circle';
$ic-arrow-drop-down-circle-group: ('ic_arrow_drop_down_circle', $ic-arrow-drop-down-circle, $ic-arrow-drop-down-circle-2x, );
$ic-arrow-drop-up-group-name: 'ic_arrow_drop_up';
$ic-arrow-drop-up-group: ('ic_arrow_drop_up', $ic-arrow-drop-up, $ic-arrow-drop-up-2x, );
$ic-arrow-forward-group-name: 'ic_arrow_forward';
$ic-arrow-forward-group: ('ic_arrow_forward', $ic-arrow-forward, $ic-arrow-forward-2x, );
$ic-arrow-upward-group-name: 'ic_arrow_upward';
$ic-arrow-upward-group: ('ic_arrow_upward', $ic-arrow-upward, $ic-arrow-upward-2x, );
$ic-bars-group-name: 'ic_bars';
$ic-bars-group: ('ic_bars', $ic-bars, $ic-bars-2x, );
$ic-cancel-group-name: 'ic_cancel';
$ic-cancel-group: ('ic_cancel', $ic-cancel, $ic-cancel-2x, );
$ic-check-group-name: 'ic_check';
$ic-check-group: ('ic_check', $ic-check, $ic-check-2x, );
$ic-chevron-down-group-name: 'ic_chevron_down';
$ic-chevron-down-group: ('ic_chevron_down', $ic-chevron-down, $ic-chevron-down-2x, );
$ic-chevron-left-group-name: 'ic_chevron_left';
$ic-chevron-left-group: ('ic_chevron_left', $ic-chevron-left, $ic-chevron-left-2x, );
$ic-chevron-right-group-name: 'ic_chevron_right';
$ic-chevron-right-group: ('ic_chevron_right', $ic-chevron-right, $ic-chevron-right-2x, );
$ic-close-group-name: 'ic_close';
$ic-close-group: ('ic_close', $ic-close, $ic-close-2x, );
$ic-domain-group-name: 'ic_domain';
$ic-domain-group: ('ic_domain', $ic-domain, $ic-domain-2x, );
$ic-drinks-group-name: 'ic_drinks';
$ic-drinks-group: ('ic_drinks', $ic-drinks, $ic-drinks-2x, );
$ic-error-group-name: 'ic_error';
$ic-error-group: ('ic_error', $ic-error, $ic-error-2x, );
$ic-error-outline-group-name: 'ic_error_outline';
$ic-error-outline-group: ('ic_error_outline', $ic-error-outline, $ic-error-outline-2x, );
$ic-expand-less-group-name: 'ic_expand_less';
$ic-expand-less-group: ('ic_expand_less', $ic-expand-less, $ic-expand-less-2x, );
$ic-expand-more-group-name: 'ic_expand_more';
$ic-expand-more-group: ('ic_expand_more', $ic-expand-more, $ic-expand-more-2x, );
$ic-facebook-p-group-name: 'ic_facebook-p';
$ic-facebook-p-group: ('ic_facebook-p', $ic-facebook-p, $ic-facebook-p-2x, );
$ic-facebook-group-name: 'ic_facebook';
$ic-facebook-group: ('ic_facebook', $ic-facebook, $ic-facebook-2x, );
$ic-facebook-w-group-name: 'ic_facebook_w';
$ic-facebook-w-group: ('ic_facebook_w', $ic-facebook-w, $ic-facebook-2-2x, );
$ic-food-group-name: 'ic_food';
$ic-food-group: ('ic_food', $ic-food, $ic-food-2x, );
$ic-fullscreen-group-name: 'ic_fullscreen';
$ic-fullscreen-group: ('ic_fullscreen', $ic-fullscreen, $ic-fullscreen-2x, );
$ic-fullscreen-exit-group-name: 'ic_fullscreen_exit';
$ic-fullscreen-exit-group: ('ic_fullscreen_exit', $ic-fullscreen-exit, $ic-fullscreen-exit-2x, );
$ic-instagram-p-group-name: 'ic_instagram-p';
$ic-instagram-p-group: ('ic_instagram-p', $ic-instagram-p, $ic-instagram-p-2x, );
$ic-instagram-group-name: 'ic_instagram';
$ic-instagram-group: ('ic_instagram', $ic-instagram, $ic-instagram-2x, );
$ic-instagram-w-group-name: 'ic_instagram_w';
$ic-instagram-w-group: ('ic_instagram_w', $ic-instagram-w, $ic-instagram-w-2x, );
$ic-local-phone-group-name: 'ic_local_phone';
$ic-local-phone-group: ('ic_local_phone', $ic-local-phone, $ic-local-phone-2x, );
$ic-local-post-office-group-name: 'ic_local_post_office';
$ic-local-post-office-group: ('ic_local_post_office', $ic-local-post-office, $ic-local-post-office-2x, );
$ic-local-shipping-group-name: 'ic_local_shipping';
$ic-local-shipping-group: ('ic_local_shipping', $ic-local-shipping, $ic-local-shipping-2x, );
$ic-menu-p-group-name: 'ic_menu-p';
$ic-menu-p-group: ('ic_menu-p', $ic-menu-p, $ic-menu-p-2x, );
$ic-menu-group-name: 'ic_menu';
$ic-menu-group: ('ic_menu', $ic-menu, $ic-menu-2x, );
$ic-more-horiz-group-name: 'ic_more_horiz';
$ic-more-horiz-group: ('ic_more_horiz', $ic-more-horiz, $ic-more-horiz-2x, );
$ic-more-vert-group-name: 'ic_more_vert';
$ic-more-vert-group: ('ic_more_vert', $ic-more-vert, $ic-more-vert-2x, );
$ic-pin-drop-group-name: 'ic_pin_drop';
$ic-pin-drop-group: ('ic_pin_drop', $ic-pin-drop, $ic-pin-drop-2x, );
$ic-place-group-name: 'ic_place';
$ic-place-group: ('ic_place', $ic-place, $ic-place-2x, );
$ic-refresh-group-name: 'ic_refresh';
$ic-refresh-group: ('ic_refresh', $ic-refresh, $ic-refresh-2x, );
$ic-warning-group-name: 'ic_warning';
$ic-warning-group: ('ic_warning', $ic-warning, $ic-warning-2x, );
$ic-zoom-out-map-group-name: 'ic_zoom_out_map';
$ic-zoom-out-map-group: ('ic_zoom_out_map', $ic-zoom-out-map, $ic-zoom-out-map-2x, );
$retina-groups: ($ic-arrow-back-group, $ic-arrow-downward-group, $ic-arrow-drop-down-group, $ic-arrow-drop-down-circle-group, $ic-arrow-drop-up-group, $ic-arrow-forward-group, $ic-arrow-upward-group, $ic-bars-group, $ic-cancel-group, $ic-check-group, $ic-chevron-down-group, $ic-chevron-left-group, $ic-chevron-right-group, $ic-close-group, $ic-domain-group, $ic-drinks-group, $ic-error-group, $ic-error-outline-group, $ic-expand-less-group, $ic-expand-more-group, $ic-facebook-p-group, $ic-facebook-group, $ic-facebook-w-group, $ic-food-group, $ic-fullscreen-group, $ic-fullscreen-exit-group, $ic-instagram-p-group, $ic-instagram-group, $ic-instagram-w-group, $ic-local-phone-group, $ic-local-post-office-group, $ic-local-shipping-group, $ic-menu-p-group, $ic-menu-group, $ic-more-horiz-group, $ic-more-vert-group, $ic-pin-drop-group, $ic-place-group, $ic-refresh-group, $ic-warning-group, $ic-zoom-out-map-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
